body {
  --color-one: rgb(38, 35, 51);
  --color-two: rgb(67, 64, 75);
  --color-three: rgb(10, 15, 27);
  --hover-button: green;
  --cv-one: rgb(18, 17, 29);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.board {
  background-color: var(--color-two);
  padding: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.board button {
  padding: 20px 40px;
  background-color: var(--color-three);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px black;
}

.board button:hover {
  background-color: var(--hover-button);
}

#cv {
  background-color: white;
  max-width: 80vh;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
}

.education {
  border-bottom: 1px solid rgb(211, 211, 211);
  color: black;
  padding: 20px;
}

.educationItem:not(:last-child) {
  border-bottom: 1px dotted black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Header CV */

.cvHeader {
  background-color: var(--cv-one);
  display: grid;
  grid-template-columns: 2fr 5fr;
  color: white;
  padding: 40px;
  gap: 20px;
  align-items: center;
}

.photo {
  height: 200px;
  width: 100%;
  background-color: rgb(189, 189, 189);
  border-radius: 10px;
}

.cvHeader h1 {
  margin: 0px;
}

.cvHeader h4 {
  margin: 5px;
}

/* Education CV */

.educationItem {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.educationItem > * {
  margin: 5px;
}

.educationItemControls {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.educationDelete {
  padding: 0;
  background: none;
  border: none;
  color: white;
}
/* Controls panel */

.controls {
  color: white;
  padding: 20px;
  background-color: var(--color-one);
}

.controls h1,
.controls h2 {
  text-align: center;
}

.controls div {
  border-radius: 10px;
}

.headerSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-two);
  box-shadow: 0px 0px 10px black;
  margin-top: 40px;
}

.headerSection button {
  padding: 20px 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  align-self: center;
  background-color: var(--color-three);
  color: white;
}

.headerSection button:hover {
  background-color: var(--hover-button);
}

.itemsControl {
  border: none;
  box-shadow: none;
  margin: 0px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  border: none;
  min-height: 25px;
}

textarea {
  min-height: 40px;
  border-radius: 5px;
  border: none;
}

textarea {
  resize: none;
}
